.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#101010 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #0c4597;
}

.table-row-cell:selected {
    -fx-background-color: #8da6b8;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.button-enviar{
    -fx-background-color: #7ad13b !important;
    -fx-font-weight: bold !important;
    -fx-font-size: 13px !important;
    -fx-text-fill: white !important;
}
.button-enviar:hover{
    -fx-background-color: #1976D2 !important;
    -fx-font-weight: bold !important;
}

.button-guardar {
    -fx-background-color: #46c39d !important;
    -fx-font-weight: bold!important;
    -fx-font-size: 13px !important;
    -fx-text-fill: white !important;
}

.button-guardar:hover{
    -fx-background-color: #1976D2 !important;
    -fx-font-weight: bold !important;
}

.button {
    -fx-background-color: #0c4597;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1976D2;
    -fx-font-weight: bold;
}

.button-inicio {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button-inicio:hover {
    -fx-background-color: #0c4597;
    -fx-font-weight: bold;
}

.button-sesion {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button-sesion:hover {
    -fx-background-color: #d1d1d1;
    -fx-font-weight: bold;
}


.button-nav {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button-nav:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #b7b7b7;
    -fx-font-weight: bold;
}
.button-cerrar {
    -fx-background-color: #b21515 !important;
    -fx-font-weight: bold!important;
    -fx-font-size: 13px !important;
    -fx-text-fill: white !important;
}

.button-cerrar:hover{
    -fx-background-color: #fe4040 !important;
    -fx-font-weight: bold !important;
}




/* Estilo combobox y textfield */
.text-field, .combo-box {
    -fx-background-color: white;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1;
}

/* Estado enfocado para ambos componentes */
.text-field:focused, .combo-box:focused {
    -fx-border-color: #0096C9;
    -fx-border-width: 1;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #fb8c00 !important;
}
/* Estilos específicos del ComboBox */
.combo-box .arrow-button {
    -fx-background-color: #0c4597;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 3 6 3 6;
}

/* combo-box list view text, not hovered or focused */
.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}

/* combo-box selected text */
.combo-box .list-view .list-cell:focused {
    -fx-background-color : #0096C9;
    -fx-text-fill: white;
}

/* combo-box hover text */
.combo-box .list-view .list-cell:hover {
    -fx-background-color : #0096C9;
    -fx-text-fill: white;
}





/* Estilo datepicker */
*{
    -fx-primary-color: #0c4597;
    -fx-secondary-color: #1976D2;
    -fx-light-grey-color: #d1d1d1;

    -fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}





/* ---------------------   PAGUINAS     -------------------------  */
